@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Roboto:wght@300;400;500;700&display=swap");

.main-admin {
    margin: 0;
    font-family: "Nunito", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('/assets/images/bg-admin.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-das {
    margin: 100px 40px;
    display: grid;
    grid-template-columns: 11% 89%;
    width: 95%;
    background: rgba(16, 21, 61, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    box-shadow: 0 0.5px 0 1px rgba(255, 255, 255, 0.23) inset,
        0 1px 0 0 rgba(255, 255, 255, 0.6) inset, 0 4px 16px rgba(0, 0, 0, 0.12);
    z-index: 10;
}

.main-das h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    font-family: "Nunito", sans-serif;
    padding: 20px 0;
    text-align: center;
}

.main-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px 0 0 15px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    padding: 12px 0 20px;
    overflow: hidden;
    font-family: inherit;
}

nav {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

nav ul,
nav ul li {
    outline: 0;
}

nav ul li a {
    text-decoration: none;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-info img {
    padding-top: 5px;
    height: 80px;
    width: auto;
}

.user-info p {
    color: #fff;
    font-size: clamp(0.7rem, 1.5vw, 0.7rem);
    font-weight: 300;
    text-align: center;
    line-height: 1;
    padding: 0 6px 32px;
}

.nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.nav-item {
    display: block;
    width: 100%;
    text-align: left;
}

.nav-item a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    font-size: 1rem;
    padding: 12px 0;
    margin: 0 8px;
    border-radius: 5px;
}

.nav-item.active a {
    background: rgba(106, 109, 155, 0.5);
    text-decoration: none;
}

.nav-item.active a i {
    color: var(--secondary);
}

.nav-text {
    display: flex;
    font-size: clamp(0.8rem, 1.5vw, 0.8rem);
    width: 80px;
    height: 20px;
    letter-spacing: 0;
}
