{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}

<main>
    <!-- debut de section formation description  -->
    <section class="formation-description grid">


        <!-- debut de section formation description  -->
        <div class="formation-description-text">
            <h1>&quot; formation PHP developer &quot;</h1>
            <p class="formation-article">
                vous apprendrez les bases des langages web HTML et CSS afin d'appréhender et être à même de créer vos premières pages web vous apprendrez les bases des langages web HTML et CSS afin d'appréhender et être à même de créer vos premières pages web..vous apprendrez
                les bases des langages web HTML et CSS afin d'appréhender et être à même de créer vos premières pages web.vous apprendrez les bases des langages web HTML et CSS afin d'appréhender et être à même de créer vos premières pages web.
            </p >
        </div>
        <!-- fin de formation description text -->
        <div class="formation-infos-description">
            <div><i class="ri-hourglass-line"></i>"399 heures"</div>
            <div><i class="ri-map-pin-line"></i>"A distance"</div>
            <div><i class="ri-calendar-2-line"></i>"Avril 2024"</div>
            <div><i class="ri-graduation-cap-line"></i>"Bac+2"</div>
            <div><i class="ri-money-euro-circle-line"></i>"100% prise en charge"</div>
        </div>
        <!-- fin de formation description infos -->

        <!-- debut de formation description form -->
        <div class="form">
            <h3>Inscrivez </h3>
            <form action="#" method="post">
                <fieldset>
                    <legend>Nom et Prenom</legend>
                    <input type="text" name="name" id="">
                </fieldset>
                <fieldset>
                    <legend>Date de naissance</legend>
                    <input type="text" name="name" id="">
                </fieldset>
                <fieldset>
                    <legend>Email</legend>
                    <input type="text" name="name" id="">
                </fieldset>
                <fieldset>
                    <legend>Tel</legend>
                    <input type="text" name="name" id="">
                </fieldset>
                <fieldset>
                    <legend>Sex</legend>
                    <input type="text" name="name" id="">
                </fieldset>
                <fieldset>
                    <legend>Niveau detudes</legend>
                    <input type="text" name="name" id="">
                </fieldset>
                <fieldset>
                    <legend>Message</legend>
                    <textarea name="message" id="" cols="30" rows="10">
        
                    </textarea>
                </fieldset>
                <input type="submit" value="S'inscrire">
            </form>
        </div>
        <!-- fin de formation description form -->
    </section>
</main>
{% endblock %}
