<section class="hero-index">
    <!-- background overlay -->
    <div class="bg-overlay"></div>
    <!-- hero content -->
    <div class="container-hero animate fadeInDown">
        <div class="content">
            <h1>FORMEZ-VOUS AUX METIERS QUI RECRUTENT</h1>
            <p>Nous sommes une structure d'enseignement privée, nous  proposons à nos candidats des 
                formations opérationnelles et concrètes dans des secteurs d'activités variés.</p>
        </div>
        <a href="/discipline" class="btn-main">
        Choisir sa formation
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
        </svg>
        </a>
        </div>
    </div>
</section>