<section class="intro-01">
    <div class="card-2">
        <h2>
            Pourquoi choisir de se former à Oxygen School ?
        </h2>
        <p>
            Oxygen School vous accompagne afin que vous soyez opérationnel à
            l'issue de votre formation, avec du coaching et de
            l’accompagnement tout le long de la formation.
        </p>
        <p>
            Nous proposons à nos candidats des formations diplomantes coachées
            par des experts. Notre pédadagogie est basée sur la pratique. Nos
            candidats travaillent sur des cas réels issus du milieu
            professionnel.
        </p>
    </div>
    <img
        class="img-intro-01"
        loading="eager"
        alt="intro-01"
        src="{{ asset('build/images/intro-01.png') }}"
    />
</section>
<section class="intro-02">
    <div class="star-container">
        <div data-animation="heartBeat">
            <p class="star-02">4.8/5</p>
            <h3>Satisfaction de nos élèves</h3>
        </div>
        <div data-animation="heartBeat">
            <p class="star-02">84%</p>
            <h3>Taux de retour à l’emploi</h3>
        </div>
        <div data-animation="heartBeat">
            <p class="star-02">93%</p>
            <h3>Obtention de certifications</h3>
        </div>
    </div>
</section>
<section class="intro-01">
    <img
        class="img-intro-02"
        loading="eager"
        alt="intro-01"
        src="{{ asset('build/images/intro-02.png') }}"
    />
    <div class="card-2">
        <h2>
            Nos formations 100% en ligne pour booster votre carriere
        </h2>
        <p>
            N’attendez pas de changer de metier pour evoluer votre carriere !! 
            et ameliorer vos connaissances tech à travers nos skill courses dedies .
            vous voulez monter en competence maitriser un nouvel outil 
            ou accelerer votre reconversion par l’ajout de connaissances ?
        </p>
    </div>
</section>