{% extends 'base.html.twig' %}

{% block title %}Discipline{% endblock %}

{% block body %}

    <!-- debut de formation main  -->
    <main class="main">
        <section class="section grid">
            <h1 class="formation-title">Nos formations en Informatique</h1>


            <!-- debut de formation components -->
            <div class="discipline-components">
                <!--debut de formation text qui contient title description et bouton  -->
                <div class="formation-text">
                    <span> <img src="assets\img\img\frame-39978-3.png" width="50px" height="50px" alt="">  <h2>PHP developper</h2></span>
                    <p>vous apprendrez les bases des langages web HTML et CSS afin d'appréhender et être à même de créer vos premières pages webvous apprendrez les bases des langages web HTML et CSS afin d'appréhender et être à même de créer vos premières
                        pages webvous apprendrez les bases des langages web HTML et CSS afin d'appréhender et être à même de créer vos premières pages webvous apprendrez les bases des langages web HTML et CSS afin d'appréhender et être à même de créer
                        vos premières pages web.</p>
                    <a href="#">Postuler</a>
                </div>
                <div class="formation-infos">
                    <ul>
                        <li><i class="ri-hourglass-line"></i>399 heures</li>
                        <li><i class="ri-map-pin-line"></i>A distance</li>
                        <li><i class="ri-calendar-2-line"></i>Avril 2024</li>
                        <li><i class="ri-graduation-cap-line"></i>Bac+2</li>
                        <li><i class="ri-money-euro-circle-line"></i>100% prise en charge</li>
                    </ul>
                </div>
            </div>
            <!-- fin de formation components -->
            <!-- debut de formation components -->
            <div class="discipline-components">
                <!--debut de formation text qui contient title description et bouton  -->
                <div class="formation-text">
                    <span> <img src="assets\img\img\frame-39978-3.png" width="50px" height="50px" alt="">  <h2>PHP developper</h2></span>
                    <p>vous apprendrez les bases des langages web HTML et CSS afin d'appréhender et être à même de créer vos premières pages web.</p>
                    <a href="#">Postuler</a>
                </div>
                <div class="formation-infos">
                    <ul>
                        <li><i class="ri-hourglass-line"></i>399 heures</li>
                        <li><i class="ri-map-pin-line"></i>A distance</li>
                        <li><i class="ri-calendar-2-line"></i>Avril 2024</li>
                        <li><i class="ri-graduation-cap-line"></i>Bac+2</li>
                        <li><i class="ri-money-euro-circle-line"></i>100% prise en charge</li>
                    </ul>
                </div>
            </div>
            <!-- fin de formation components -->


            <!-- debut de formation components -->
            <div class="discipline-components">
                <!--debut de formation text qui contient title description et bouton  -->
                <div class="formation-text">
                    <span> <img src="assets\img\img\frame-39978-3.png" width="50px" height="50px" alt="">  <h2>PHP developper</h2></span>
                    <p>vous apprendrez les bases des langages web HTML et CSS afin d'appréhender et être à même de créer vos premières pages web.</p>
                    <a href="#">Postuler</a>
                </div>
                <div class="formation-infos">
                    <ul>
                        <li><i class="ri-hourglass-line"></i>399 heures</li>
                        <li><i class="ri-map-pin-line"></i>A distance</li>
                        <li><i class="ri-calendar-2-line"></i>Avril 2024</li>
                        <li><i class="ri-graduation-cap-line"></i>Bac+2</li>
                        <li><i class="ri-money-euro-circle-line"></i>100% prise en charge</li>
                    </ul>
                </div>
            </div>
            <!-- fin de formation components -->
            <!-- debut de formation components -->
            <div class="discipline-components">
                <!--debut de formation text qui contient title description et bouton  -->
                <div class="formation-text">
                    <span> <img src="assets\img\img\frame-39978-3.png" width="50px" height="50px" alt="">  <h2>PHP developper</h2></span>
                    <p>vous apprendrez les bases des langages web HTML et CSS afin d'appréhender et être à même de créer vos premières pages web.</p>
                    <a href="#">Postuler</a>
                </div>
                <div class="formation-infos">
                    <ul>
                        <li><i class="ri-hourglass-line"></i>399 heures</li>
                        <li><i class="ri-map-pin-line"></i>A distance</li>
                        <li><i class="ri-calendar-2-line"></i>Avril 2024</li>
                        <li><i class="ri-graduation-cap-line"></i>Bac+2</li>
                        <li><i class="ri-money-euro-circle-line"></i>100% prise en charge</li>
                    </ul>
                </div>
            </div>
            <!-- fin de formation components -->


            <!-- debut de formation components -->
            <div class="discipline-components">
                <!--debut de formation text qui contient title description et bouton  -->
                <div class="formation-text">
                    <span> <img src="assets\img\img\frame-39978-3.png" width="50px" height="50px" alt="">  <h2>PHP developper</h2></span>
                    <p>vous apprendrez les bases des langages web HTML et CSS afin d'appréhender et être à même de créer vos premières pages web.</p>
                    <a href="#">Postuler</a>
                </div>
                <div class="formation-infos">
                    <ul>
                        <li><i class="ri-hourglass-line"></i>399 heures</li>
                        <li><i class="ri-map-pin-line"></i>A distance</li>
                        <li><i class="ri-calendar-2-line"></i>Avril 2024</li>
                        <li><i class="ri-graduation-cap-line"></i>Bac+2</li>
                        <li><i class="ri-money-euro-circle-line"></i>100% prise en charge</li>
                    </ul>
                </div>
            </div>
            <!-- fin de formation components -->


            <!-- debut de formation components -->
            <div class="discipline-components">
                <!--debut de formation text qui contient title description et bouton  -->
                <div class="formation-text">
                    <span> <img src="assets\img\img\frame-39978-3.png" width="50px" height="50px" alt="">  <h2>PHP developper</h2></span>
                    <p>vous apprendrez les bases des langages web HTML et CSS afin d'appréhender et être à même de créer vos premières pages web.</p>
                    <a href="#">Postuler</a>
                </div>
                <div class="formation-infos">
                    <ul>
                        <li><i class="ri-hourglass-line"></i>399 heures</li>
                        <li><i class="ri-map-pin-line"></i>A distance</li>
                        <li><i class="ri-calendar-2-line"></i>Avril 2024</li>
                        <li><i class="ri-graduation-cap-line"></i>Bac+2</li>
                        <li><i class="ri-money-euro-circle-line"></i>100% prise en charge</li>
                    </ul>
                </div>
            </div>
            <!-- fin de formation components -->

        </section>
    </main>
    <!-- fin de formation main  -->





{% endblock %}
