<div class="applicant-line">
    <img src="{{ application.avatarImage }}" alt="profile">
    <div class="applicant-info">
      <span>{{ application.application.firstName }}</span>
      <p>Applied for <strong>{{ application.application.course.name }}</strong></p>
    </div>
</div>