.contact {
    display: flex;
    flex-direction: column;
    padding-left: 19rem;
    padding-right: 19rem;
    padding-top: 6rem;
    background-color: var(--secondaryColor);
}

.section {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.parag {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin: 0 auto;
    font-size: 20px;
    font-family: var(--principalFontFamily);
    color: var(--thirdColor);
}

.center {
    display: flex;
    padding-top: 1.5rem;
    margin: 0 auto;
    font-size: 2.5rem;
    color: rgb(89, 150, 237);
    font-family: var(--principalFontFamily);
}


.info {

    width: 70%;
    border: solid #32a1ce;
    border-radius: 90px;
    color: rgb(10, 10, 10);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 10rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 20px;
    background-color: #ffffff;
}

.text {
    font-size: 15px;
    font-family: var(--principalFontFamily);
    color: var(--thirdColor);
    font-display: center;
}

.img {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
}

.img1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.coord {
    font-weight: bold;
}


.team {
    display: flex;
    width: 100%;
    gap: 10px;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.member-cards {
    border: solid #b3ebf8;
    border-radius: 90px;
    color: rgb(10, 10, 10);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    font-size: 26px;
    background-color: #f4f9f9;
}

/* css formu */

#formContact {
    width: 425px;
    background:
        linear-gradient(
        rgba(35,43,85,0.75),
        rgba(35,43,85,0.95));
    margin-left: auto;
    margin-right: auto;
    border-top: solid 2px rgba(255,255,255,.5);
    border-radius: 5px;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
    overflow: hidden;
}

.formValid {
    background:
        linear-gradient(
        rgba(35,43,85,0.75),
        rgba(35,43,85,0.95));
    height: 650px;
    width: 410px;
    border-top: solid 2px rgba(255,255,255,.5);
    border-radius: 5px;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
    color: var(--secondary);
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    z-index: 20;
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
}

.formValid img {
    width: 100px;
    height: 100px;
    margin-top: 150px;
}

.formValid p {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.form {
    width: 330px;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 40px;
    transition: opacity .5s ease, transform .5s ease;
}

.form label{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
    padding-left: 15px;
    padding-bottom: 10px;
    color: rgba(255,255,255,.7);
    display: block;
}

.form input, textarea{
    width: 330px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    background: rgba(255,255,255,.2);
    color: #fff;
}

:focus {outline: none;
}

.form input:focus, textarea:focus {
    background: rgba(255,255,255,.3);
    border: none; 
    transition: background .5s ease;
 }

.error-message {
    color: red;
    border-bottom: 50%;
    margin-top: 1px;
    margin-bottom: 1px;
}

.form ul li {
    list-style: none;
    color: red;
    font-size: .8rem;
    font-weight: italic;
}

.button {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#btn-contact {
    display: flex;
    justify-content: center;
    width: 10rem;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}

.success {
    width: 80%;
    height: 150px;
    text-align: center;
    position: relative;
    top: -890px;
    left: 450px;
    // opacity: .0;
    transition: all .8s .4s ease;
  }
  
  .success-left {
    transform: translateX(-406px);
    opacity: 1;
  }
  
  .successtext {
    color: #ffffff;
      font-size: 16px;
      font-weight: 300;
    margin-top: -35px;
    padding-left: 37px;
    padding-right: 37px;
  }
  
  #check path {
      stroke: #ffffff;
      stroke-linecap:round;
      stroke-linejoin:round;
      stroke-width: .85px;
      stroke-dasharray: 60px 300px;
      stroke-dashoffset: -166px;
      fill: rgba(255,255,255,.0);
      transition: stroke-dashoffset 2s ease .5s, fill 1.5s ease 1.0s;
  }
  
  #check.checked path {
      stroke-dashoffset: 33px;
      fill: rgba(255,255,255,.03);
  }

@media screen and (min-width: 800px) and (max-width: 1200px) {
    .info {

        width: 100%;
        padding-left: 1rem;
        border: none;
        font-size: 18px;
        background-color: var(--secondaryColor);
    }
}

@media screen and (min-width: 200px) and (max-width: 800px) {

    * {
        margin: 0;
        padding: 0;
    }

    .contact {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
        padding-left: 3rem;
        padding-right: 3rem;

    }

    .img {
        display: none;
    }

    .button {
        margin-left: 5rem;
    }

    .parag {
        display: none;
    }

    .info {

        width: 100%;
        padding-left: 1rem;
        border: none;
        font-size: 18px;
        background-color: var(--secondaryColor);
    }

    .team {
        display: flex;
        flex-direction: column;
        width: 85%;
    }
}