.course-filters {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    gap: 1rem;
}

.filter-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.8rem;
    background-color: #23A6F0;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}

.filter-button i {
    display: none;
}

.filter-button.active {
    color: #000;
}

.filter-button.active i {
    display: inline-block;
    margin-left: 5px;
    color: var(--secondary);
}

.filter-button:is(:hover, :focus-visible) {
    background: #e9e6eb;
    color: #000;
}

.formation-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.discipline-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 1rem 0;
    justify-content: center;
    align-items: center;
}
.discipline-components {
    display: flex;
    align-items: center;
    width: 30rem;
    margin: 0 auto;
    border-radius: 0.8rem;
    padding: 1rem;
    box-shadow: 3px 5px 5px 0px rgb(189, 188, 188);
    background-color: rgb(236, 236, 236);
}

.discipline-components img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 0.8rem;
    box-shadow: 3px 5px 5px 0px rgb(189, 188, 188);
}

.discipline-text {
    width: 200px;
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
}

.discipline-text h2 {
    font-size: 1.2rem;
    color: #23A6F0;
}

.discipline-presentation {
    margin: 1.5rem 1.2rem;
    list-style-type: none;
}

.discipline-text a {
    background-color: #23A6F0;
    color: white;
    text-decoration: none;
    padding: 0.8rem;
    position: relative;
    border-radius: 0.8rem;
    display: flex;
    justify-content: center;
}

.discipline-text h2 {
    width: 100%;
}

.formation-infos {
    width: 50%;
}

.formation-infos ul li {
    list-style: none;
    margin-top: 1.3rem;
    font-weight: bold;
    font-weight: 500;
    font-size: .8rem;
    width: 100%;
}

.formation-infos i {
    font-weight: normal;
    margin: 0 5px;
    font-size: 1.3rem;
    color: #ffffff;
    background: #23A6F0;
    padding: 0.5rem;
    border-radius: 50%;
}

.discipline-text p {
    font-size: 1.2rem;
    width: 100%;
    letter-spacing: 2px;
    margin-bottom: 2rem;
}


/* here i finish the css of the page discipline */


/* here i start the css of the page formation */

.formation-description-text {
    width: 70%;
    background-color: var(--principal-color);
    padding: 1.3rem;
    border-radius: 0.8rem;
    margin: 0 auto;
    font-family: var(--font-family);
}

.formation-description-text h2 {
    color: white;
    text-shadow: 1px 1px 2px rgba(71, 71, 71, 0.5);
    ;
}

.formation-description-text article {
    font-size: 1.5rem;
    color: white;
    background-color: var(--principal-color);
    padding: 1.2rem;
    border: 3px white solid;
    border-radius: 0.8rem;
}

.formation-infos-description {
    text-shadow: 1px 1px 2px rgba(128, 128, 128, 0.5);
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.4rem;
    box-shadow: 3px 5px 5px 0px rgb(189, 188, 188);
    background-color: var(--principal-color);
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 1.2rem;
    border-radius: 15px;
    font-family: var(--font-family);
    color: var(--white-color);
}

.formation-infos-description i {
    font-size: 3rem;
    margin-right: 1.3rem;
    color: var(--white-color);
    padding: 0.3rem;
    border: 2px solid var(--white-color);
    border-radius: 50%;
}


/*start coté responsive*/

@media screen and (max-width: 768px) {
    .course-filters {
        flex-wrap: wrap;
        gap: 1rem;
        width: 350px;
    }
    .grid {
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    .discipline-list {
        grid-template-columns: repeat(1, 1fr);
    }
    .discipline-components {
        width: 80%;
    }

    .discipline-components img {
        width: 150px;
        height: 150px;
    }
    .discipline-text {
        margin: 0;
        margin-left: 1.5rem;
    }

    .discipline-text h2 {
        font-size: 1rem;
    }

    .discipline-text p{
        font-size: .8rem;
    }
    .formation-infos {
        display: none;
    }
}