:root {
    --primary-color: #f7f7f7;
    --principal-color: rgba(67, 159, 212, 0.11);
    --font-size: 1.4rem;
    --link-color: #ffffff;
    --black-color: #000000;
    --white-color: #ffffff;
    --font-weight: bold;
    --border-radius: 5px;
    --font-bolder: 700;
    --gray-color: rgb(104, 104, 104);
}

* {
    padding: 0;
    margin: 0;
}

.grid {
    display: grid;
    gap: 1.8rem;
}

main {
    margin-top: 4rem;
}

.formation-description {
    margin: 3rem auto;
}

.formation-description-text {
    width: 70%;
    background-color: var(--principal-color);
    padding: 1.3rem;
    border-radius: 0.8rem;
    margin: 0 auto;
    font-family: var(--font-family);
    transition: width 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.formation-description-text:hover {
    box-shadow: 3px 5px 5px 0px rgb(189, 188, 188);
    width: 73%;
}

.formation-description-text h1 {
    display: flex;
    place-content: center;
    color: blue;
    text-shadow: 1px 1px 2px rgba(71, 71, 71, 0.5);
    margin: 0 auto;
    font-size: 2rem;
}

.formation-description-text .formation-article {
    font-size: 1rem;
    color: black;
    background-color: var(--principal-color);
    padding: 1.2rem;
    border: 3px white solid;
    border-radius: 0.8rem;
    line-height: 1.2rem;
}

.formation-infos-description {
    text-shadow: 1px 1px 2px rgba(128, 128, 128, 0.5);
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.4rem;
    box-shadow: 3px 5px 5px 0px rgb(189, 188, 188);
    background-color: var(--principal-color);
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 1.2rem;
    border-radius: 15px;
    font-family: var(--font-family);
    color: var(--black-color);
    transition: width 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.formation-infos-description:hover {
    box-shadow: 3px 5px 5px 0px rgb(191, 189, 189);
    width: 73%;
}

.formation-infos-description i {
    font-size: 2rem;
    margin-right: 1.3rem;
    color: black;
    padding: 0.3rem;
    border: 2px solid var(--white-color);
    border-radius: 50%;
}


/* css formu */

.form {
    width: 70%;
    margin: 0 auto;
}

form {
    display: grid;
    gap: 1.8rem;
}

.form ul li {
    list-style: none;
}

form input {
    border: none;
    width: 100%;
    font-size: 1.3rem;
    background-color: #ffffff;
}

form fieldset {
    padding: 1rem;
    border: 1px solid #23A6F0;
}

form fieldset legend {
    position: relative;
    padding-right: 3.5rem;
    left: 2rem;
}

form input:focus {
    outline: none;
}

form input[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #67c6fd;
    width: 140px;
    padding: 10px;
    border-radius: 10px;
    color: var(--white-color);
    font-weight: var(--font-weight);
    margin: 0 auto;
    transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out, padding 0.3s ease-in-out;
}

form input[type="submit"]:hover {
    background-color: #57bffb;
    box-shadow: 3px 5px 5px 0px rgb(189, 188, 188);
    cursor: pointer;
    padding: 11px;
}

form fieldset textarea {
    text-align: left;
    border: none;
    resize: none;
    width: 100%;
    overflow: auto;
    background-color: var(--link-color);
}

form fieldset:focus {
    border: 3px solid black;
}

form fieldset textarea:focus {
    outline: none;
    border: none;
    font-size: 1rem;
}

.alert-error {
    color: red;
    border-bottom: 50%;
}

.alert-success {
    color: green;
    margin: 0 auto;
    border-bottom: 50%;
}


/* css fomulaire finish */


/* --RESPONSIVE FOR 350PX  AND 768PX */

@media screen and (min-width: 350px) and (max-width: 550px) {
    .grid {
        gap: 1rem;
    }
    main {
        margin-top: 2rem;
    }
    .formation-description-text {
        width: 90%;
        margin: 0 auto;
    }
    .formation-infos-description {
        display: grid;
        font-size: 0.8rem;
        grid-template-columns: repeat(2, 2fr);
        gap: 0.3rem;
        justify-items: center;
        /* Horizontally center the grid items */
        align-items: center;
    }
    .formation-description-text .formation-article {
        font-size: 0.5rem;
        text-align: justify;
    }
    .formation-infos-description div {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.6rem;
        justify-content: center;
        gap: 0.7rem;
        display: none;
    }
    .formation-infos-description div i {
        font-size: 1.4rem;
        margin: 0 auto;
    }
    form fieldset {
        padding: 0.4rem;
        border: 2px solid #23A6F0;
    }
    form fieldset textarea {
        border: none;
        resize: none;
        width: 100%;
    }
    form fieldset textarea:focus {
        outline: none;
        text-align: left;
        border: none;
        font-size: 0.8rem;
    }
}


/* --RESPONSIVE FOR 768PX  */

@media screen and (min-width: 550px) and (max-width: 768px) {
    .grid {
        gap: 1rem;
    }
    .formation-description-text {
        width: 90%;
        margin: 0 auto;
    }
    .formation-infos-description {
        display: grid;
        font-size: 0.8rem;
        grid-template-columns: repeat(2, 2fr);
        gap: 0.3rem;
        justify-items: center;
        /* Horizontally center the grid items */
        align-items: center;
    }
    .formation-description-text .formation-article {
        font-size: 0.8rem;
        text-align: justify;
    }
    .formation-infos-description div {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.9rem;
        justify-content: center;
        gap: 0.7rem;
        display: none;
    }
    .formation-infos-description div i {
        font-size: 1.3rem;
        margin: 0 auto;
    }
    form fieldset {
        padding: 0.4rem;
        border: 2px solid #23A6F0;
    }
    form fieldset textarea {
        border: none;
        resize: none;
        width: 100%;
    }
    form fieldset textarea:focus {
        outline: none;
        text-align: left;
        border: none;
        font-size: 0.8rem;
    }
}


/*RESPONSIVE FOR 950 PX*/

@media screen and (max-width: 950px) {
    .grid {
        gap: 1rem;
    }
    .formation-description-text {
        width: 90%;
        margin: 0 auto;
    }
    .formation-description-text h1 {
        display: flex;
        place-content: center;
        color: blue;
        text-shadow: 1px 1px 2px rgba(71, 71, 71, 0.5);
        margin: 0 auto;
        font-size: 1.5rem;
    }
    .formation-infos-description {
        display: grid;
        font-size: 1rem;
        grid-template-columns: repeat(2, 2fr);
        gap: 0.3rem;
        justify-items: center;
        /* Horizontally center the grid items */
        align-items: center;
    }
    .formation-description-text {
        width: 70%;
    }
    .formation-description-text .formation-article {
        font-size: 1rem;
        text-align: justify;
    }
    .formation-infos-description div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.8rem;
    }
    .formation-infos-description div i {
        font-size: 1.8rem;
        margin: 0 auto;
    }
    form fieldset {
        padding: 1rem;
        border: 2px solid #23A6F0;
    }
    form fieldset textarea {
        border: none;
        resize: none;
        width: 100%;
    }
    form fieldset textarea:focus {
        outline: none;
        text-align: left;
        border: none;
        font-size: 1rem;
    }
}


/*--RESPONSIVE FOR 1200PX  */

@media screen and (max-width: 1200px) {
    .grid {
        gap: 1rem;
    }
    .formation-description-text {
        width: 70%;
        margin: 0 auto;
    }
    .formation-infos-description {
        display: grid;
        font-size: 1.3rem;
        grid-template-columns: repeat(2, 2fr);
        gap: 0.3rem;
        justify-items: center;
        /* Horizontally center the grid items */
        align-items: center;
    }
    .formation-description-text .formation-article {
        font-size: 1rem;
        text-align: justify;
    }
    .formation-infos-description div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.8rem;
    }
    .formation-infos-description div i {
        font-size: 1.8rem;
        margin: 0 auto;
    }
    form fieldset {
        padding: 1rem;
        border: 2px solid #23A6F0;
    }
    form fieldset textarea {
        border: none;
        resize: none;
        width: 100%;
    }
    form fieldset textarea:focus {
        outline: none;
        text-align: left;
        border: none;
        font-size: 1rem;
    }
}