.intro-01 {
    margin-top: 90px;
    background-color: rgba(67, 159, 212, 0.11); 
    max-height: 450px;
    display: flex;
    padding: 0 2rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.info-dis {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.icon-dis {
    width: 56px;
    height: 56px;
    background-color: var(--secondary);
    color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.intro-01 .img-intro-02 {
    width: 100%;
    max-width: 350px;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: inset 2px -2px 6px rgba(214, 214, 214, 0.2),
        inset -3px 3px 3px rgba(255, 255, 255, 0.3);
}

.card_course {
    padding: 2rem;
}

.card_course h1 {
    text-transform: uppercase;
}

.card_course p {
    margin-top: 1rem;
    font-size: .9rem;
}


.intro-02 {
    max-height: 450px;
    display: flex;
    padding: 0 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.intro-info {
    text-align: center;
}

.intro-info p {
    max-width: 700px;
}

.intro-container {
    max-width: 700px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Add this line */
    gap: 2rem;
    margin-top: 2rem;
}

.intro-card {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    gap: 1rem;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: var(--primary);
    max-width: 300px;
    text-align: center;
}

.regis-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    padding: 2rem;
    background-color: rgba(67, 159, 212, 0.11); 
}

.regis-container h2 {
    text-align: center;
    margin-bottom: 1rem;
}

/* css formu */

.form-regis {
    width: 425px;
    background:
        linear-gradient(
        rgba(35,43,85,0.75),
        rgba(35,43,85,0.95));
    margin-left: auto;
    margin-right: auto;
    border-top: solid 2px rgba(255,255,255,.5);
    border-radius: 5px;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
    overflow: hidden;
}

.formValid {
    background:
        linear-gradient(
        rgba(35,43,85,0.75),
        rgba(35,43,85,0.95));
    height: 650px;
    width: 410px;
    border-top: solid 2px rgba(255,255,255,.5);
    border-radius: 5px;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
    color: var(--secondary);
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    z-index: 20;
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
}

.formValid img {
    width: 100px;
    height: 100px;
    margin-top: 150px;
}

.formValid p {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.form {
    width: 330px;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 40px;
    transition: opacity .5s ease, transform .5s ease;
}

.form label{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
    padding-left: 15px;
    padding-bottom: 10px;
    color: rgba(255,255,255,.7);
    display: block;
}

.form input, textarea{
    width: 330px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    background: rgba(255,255,255,.2);
    color: #fff;
}

:focus {outline: none;
}

.form input:focus, textarea:focus {
    background: rgba(255,255,255,.3);
    border: none; 
    transition: background .5s ease;
 }

.error-message {
    color: red;
    border-bottom: 50%;
    margin-top: 1px;
    margin-bottom: 1px;
}

.form ul li {
    list-style: none;
    color: red;
    font-size: .8rem;
    font-weight: italic;
}

.button {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#btn-contact {
    display: flex;
    justify-content: center;
    width: 10rem;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}