    * {
        font-family: var(--font-family);
        margin: 0;
        padding: 0;
        font-family: Playpen Sans, 'sans serif';
    }
    
    .grid {
        display: grid;
        gap: 1.8rem;
    }
    
    .main {
        margin: 4rem auto;
        width: 100%;
    }
    
    .grid {
        display: grid;
    }
    
    @media screen and (max-width: 1024px) {
        .grid {
            display: grid;
        }
        .main {
            margin: 3rem auto;
            width: 100%;
        }
    }
    
    @media screen and (max-width:768) {
        .main {
            margin: 3rem auto;
            width: 100%;
        }
    }