:root {
    --primary: #9ABCEC;
    --secondary: #3068E0;
    --gray: #838383;
    --bg-color: #f3f4f6;
    --bg-color-blue: #6ADBFF;
    --text-color: #0F55E8;
    --font-family: 'Playpen Sans', sans-serif;
    --main-purple: #9b59b6;
}

* {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    font-family: Playpen Sans, 'sans serif';
}

.grid {
    display: grid;
    gap: 1.8rem;
}

.main {
    margin: 4rem auto;
    width: 100%;
}

.grid {
    display: grid;
}

@media screen and (max-width: 1024px) {
    .grid {
        display: grid;
    }
    .main {
        margin: 3rem auto;
        width: 100%;
    }
}

@media screen and (max-width:768) {
    .main {
        margin: 3rem auto;
        width: 100%;
    }
}