<footer>
    <div class="footer">
        <div class="footer-top animate zoomIn">
            <h1 class="footer-title">Oxygen School: Le chemin de la réussite</h1>
            <p class="des-footer">Inscrivez-vous à une formation dans le domaine qui recrute et profitez d'un
                accompagnement jusqu’à l’embauche pour une insertion réussie</p>
            <form class="form-footer">
                <input type="text" placeholder="Votre email"/>
                <button class="btn-footer">Soumettre</button>
            </form>
        </div>
        <div class="footer-bottom">
            <div class="picture">
             <img src="{{asset('build/images/oxygen_school_logo.png') }}" alt="oxygen school">
                <ul id="social">
                    <li><a href="https://www.instagram.com/"><i class="fa-brands fa-facebook"></i></a>
                    </li>
                    <li><a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></li>
                    <li><a href="https://www.facebook.com/"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                </ul>
                <h4>© 2024 Oxygen School. | Tous droits réservés.</h4>
            </div>

            <div class="footer-cards">
                <h3>Oxygen school</h3>
                <a href="#">À propos</a>
                <a href="#">Contact</a>
                <a href="#">Recrutement</a>
                <a href="#">Blog</a>
            </div>
            <div class="footer-cards">
                <h3>Nos Disciplines</h3>
                <a href="#">Informatique</a>
                <a href="#">Finance</a>
                <a href="#">Marketing</a>
                <a href="#">Santé</a>
            </div>
            <div class="footer-cards">
                <h3>Nos campus</h3>
                <a href="#">Paris</a>
                <a href="#">Lille</a>
                <a href="#">Toulouse</a>
                <a href="#">Strasbourg</a>
            </div>

        </div>

        
    </div>

    </br> 
</footer>