<header>
    <nav class="navbar">
        <div class="navbar-container container">
            <input type="checkbox" name="" id="">
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <ul class="menu-items">
                <li><a href="/">Accueil</a></li>
                <li><a href="/discipline">Formation</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <div class="logo">
                <a href ="/"><img src="{{ asset('build/images/oxygen_school_logo.png') }}" alt="logo"></a>
            </div>
        </div>
    </nav>
</header>