.card-dis {
    max-width: 20rem;
    max-height: 20rem;
    overflow: hidden;
    padding: 2rem; 
    background-color: rgba(67, 159, 212, 0.11); 
    width: 200px;
    height: 250px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-dis:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-dis .card-dis-container {
    display: grid;
    order: 1; 
    grid-template-columns: repeat(1, minmax(0, 1fr)); 
    gap: 0.25rem; 
    align-items: left; 
}

.card-dis .card-dis-container .icon-dis {
    width: 56px;
    height: 56px;
    background-color: var(--secondary);
    color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.card-dis .card-dis-container .icon-dis i {
    font-size: 1.5rem;
}

.card-dis .card-dis-container .card-dis-content {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr)); 
    align-items: left;
    justify-content: left;
    text-align: left;
}

.card-dis .card-dis-container .card-dis-content h3 {
    margin-bottom: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
    margin-right: 50%;
}

.card-dis .card-dis-container .card-dis-content p {
    margin-bottom: 1.5rem;
    font-size: 0.8rem;
    line-height: 1rem;
    font-weight: 400;
    color: var(--gray);
}

.card-dis .card-dis-container a {
    font-weight: 700;
    width: 7rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.btn-view {
    border: solid 1px black;
}

.btn-view:hover {
    background-color: var(--secondary);
    color: var(--bg-color);
    border: solid 1px var(--secondary);
}

@media screen and (max-width: 700px) {
    .card-dis {
        width: 150px;
        height: 150px;
    }
    .card-dis .card-dis-container .card-dis-content p {
        display: none;
    }
}