.hero-index {
    background-color: var(--secondary);
    height: 70vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bg-overlay {
    position: absolute; 
    top: 0;
    bottom: 0; 
    left: 0; 
    right: auto; 
    width: 100%; 
    height: 100%; 
    background-image: url('/assets/images/hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container-hero {
    position: relative; 
    z-index: 1; 
    color: var(--bg-color); 
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content {
    margin: 0 auto; 
    max-width: 960px; 
    padding: 20px 20px;
    text-align: center;
}

.content h1 {
    margin: 0;
    margin-bottom: 1.5rem;
    padding: 0 12rem; 
    font-size: 2.25rem;
    line-height: 2.5rem; 
    font-weight: 700; 
    line-height: 1.25;
}

.container-hero a {
    display: inline-flex; 
    position: relative; 
    padding: 1rem;
    flex-direction: row; 
    column-gap: 0.5rem; 
    justify-content: center; 
    align-items: center;  
    font-size: 1.125rem;
    line-height: 1.75rem; 
    font-weight: 700; 
    transition-duration: 200ms; 
}

.btn-main {
    box-shadow: 4px 6px 0 0 #ffffff9c;
    border: 2px solid var(--secondary);
    border-radius: 30px;
}

/* Responsive Styles */
@media (max-width: 768px) {

    #hero {
        padding: 1rem 0;
    }
    .content h1 {
        margin: 0;
        padding: 0 2rem;
    }
}